@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

main{
    margin:50px;
}


.conteudo{
        width: 100%;
    }

body{
    background-color:rgb(20, 20, 20);
    font-size: 0,62rem;
    padding: 15px;
    height: 100%;

.conteudo{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.greybox{ 
    color:white;
    background-color:rgb(31, 31, 31);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 363px;
    padding:60px 20px;
    border-radius:2%;
    font-family:"inter",sans-serif;

    .nome{ 
        color: white;
        font-size:20px;
        font-weight: 600;
        margin-bottom:0;
    }
    .place{
        color:rgba(199, 233, 49, 0.747);
        font-size: 10px;
        font-weight: 600;
        margin-top:2%;
    }
    .subt{
        color: rgba(192, 189, 189, 0.726);
        font-size:10px;
        font-weight: 400;
        padding-bottom: 5px;
        max-width: fit-content;
    }
    .links{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
        display:flex;
        flex-direction: column;
        padding:0;
        margin: 0;
    }
    ul li{
        list-style-type: none;
        justify-content: space-between;
        padding: 5px;
        
    }
    .apre__links__sites{
        display:flex;
        flex-direction:column;
        align-items: center;
        width: 150px;
        height: 15px;
        padding: 10px;
        color:rgba(245, 245, 245, 0.863);
        font-family:"inter",sans-serif;
        text-decoration: none;
        background-color:rgb(51, 51, 51);
        font-size:10px;
        font-weight:600;
        border-radius: 7%;
     
    }
}
    .apre__links__sites:hover{
        background:grey;

}
.apre__imagem{
    max-width: 30%;
    height: auto;
    display: block;
    margin:0 0;
    border-radius:50%;
    margin-bottom: 10px;
}